/* Profile.html */
.form1{
    padding:5px;
    color: white;
    }
.form2{
    width:30%;
    margin-left: auto;
    margin-right: auto;
    } 
#profile_page{
    background-color:rgb(165, 25, 36);
    }

/* registration.html */

.text-center{
    background-color: #11171c;
  }
/* profile and registration both */
#submit_button:hover,#submit_button:active {
    border: 1px #052136;
    border-radius: 10px;
    color: white;
    background-color:#052136;
    text-decoration: none;
}
#user_id{
  border: 1px solid #0a7d94;
  border-radius: 10px;
  color:#0a7d94;
  background-color: #20313d;
}