/* Profile.html */
.form1{
    padding:5px;
    color: white;
    }
.form2{
    width:30%;
    margin-left: auto;
    margin-right: auto;
    } 
#profile_page{
    background-color:rgb(165, 25, 36);
    }

/* registration.html */

.text-center{
    background-color: #11171c;
  }
/* profile and registration both */
#submit_button:hover,#submit_button:active {
    border: 1px #052136;
    border-radius: 10px;
    color: white;
    background-color:#052136;
    text-decoration: none;
}
#user_id{
  border: 1px solid #0a7d94;
  border-radius: 10px;
  color:#0a7d94;
  background-color: #20313d;
}

/* about page */
#pfont{
    font-family:arial;
   
   }
   .visit{
     font-family:arial;
     color:orange;
   }

/* index page */

body{
    padding-bottom: 30px;
  }
  #card-style{
        margin-bottom:30px;
        
      }
      span{
        font-family:times;
       color: #2E2E2E;
       font-size:36px;
      }
      p{
        font-family:times;
        font-size:16px;
        color:grey;
        margin-top:10px;
      }
      h3{
        font-family:times;
        color:dark;
        margin-top:20px;
      }