{% extends 'base.html' %}

{% block title %}Contact us{% endblock title %}Home
{% block body %}


<form method="Post" action="/contact">
    {% csrf_token %}
    <div class="container-fluid px-0" >
    <img class="mb-4" src="/static/images/contact.jpg" class="d-block w-100 mx-0" alt="..." width="1520" height="300"> 
    <h1 >Contact us</h1>
    </div>
    <div class="container" style="width:50% ">
    <div class="form-group" >
      <label for="uname" class="form-label" >Name</label>
      <input type="text" class="form-control" id="uname" name="name" placeholder="Enter your Name" required autofocus>
    </div>
    <div class="form-group">
      <label for="telno" class="form-label">Phone Number</label>
      <input type="phone" class="form-control" id="telno" name="phone" placeholder="Enter your phone Number" required >
    </div>
    <div class="form-group">
      <label for="emailadd" class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailadd" name="email" placeholder="name@example.com" required >
    </div>
    <div class="form-group">
      <label for="mymessage" class="form-label">Message</label>
      <textarea class="form-control" id="mymessage" name="des" placeholder="write something......." rows="3" required></textarea>
    
    </div>
    <button class="w-45 btn btn-lg btn-primary" style="margin:5px;" type="submit">Submit</button>

    </div>
</form>

<script src="/static/js/annyang.min.js"></script>

<script>
if (annyang) {
  // Let's define our first command. First the text we expect, and then the function it should call
  var commands = {
  
    'write name *tag': function(variable) {
      let name=document.getElementById("uname");
      name.value=variable;
    },
    'write phone number *tag': function(variable) {
      let mobile=document.getElementById("telno");
      mobile.value=variable.split(" ").join("");
    },
    'write email *tag': function(variable) {
      let email=document.getElementById("emailadd");
      email.value=variable.split(" ").join("");
    },
    'write message *tag': function(variable) {
      let message=document.getElementById("mymessage");
      message.value=variable;
    },
  
   
    
  };
  // Add our commands to annyang
  annyang.addCommands(commands);

  // Start listening. You can call this here, or attach this call to an event, button, etc.
  annyang.start();
}
</script>

{% endblock body %}
