{% extends 'base.html' %}

{% block title %}Registration form{% endblock title %}Home
{% block body %}
<style>


#submit_button:hover,#submit_button:active {
    border: 1px #052136;
    border-radius: 10px;
    color: white;
    background-color:#052136;
    text-decoration: none;
}
.form1{
    padding:5px;
    color: white;
  }
.form2{
    width:30%;
    margin-left: auto;
    margin-right: auto;
  } 

</style>
   {% load static%}
  {% comment %} <link href="{% static 'css/main.css' %}" rel="stylesheet">  {% endcomment %} 

  <!-- Custom styles for this template -->  
  
  <body class="text-center"style="background-color:white">
      <form class="form1" method="Post" action="/registration" >
        {% csrf_token %}
        <img class="mb-4" src={% static 'images/studio1.jpg' %}height="170" width="168.8" style="border-radius:10%; border: 1px solid #5aa329 "  alt="images">
        <h3 style="color:black">Please Create Account</h3>
        <div class="form2">
          <input type="text" style="margin:5px;" id="inputusername" class="form-control" name="username" placeholder="Username" required autofocus>
          <input type="text" style="margin:5px;" id="firstname"   class="form-control" name="firstname" placeholder="Enter First Name" required  >
          <input type="text" id="lastname" style="margin:5px;"  class="form-control" name="lastname" placeholder="Enter Last Name" required  >
          <input type="Email" id="inputEmail" style="margin:5px;"  class="form-control" name="email" placeholder="Enter Email" required  >
          <input type="password" value=""  style="margin:5px;"  id="inputPassword" class="form-control" name="password" placeholder="Password" required><br> 
          <button class="w-100 btn btn-lg btn-primary" id="submit_button" type="submit">create account</button>
        </div>
      
      
      </form>

  </body>

  
 {% endblock body %}