{% extends 'base.html' %}

{% block title %}About us{% endblock title %}Home
{% block body %}
 {% load static%}
  <link href="{% static 'css/main.css' %}" rel="stylesheet"> 
    <a href="/postreview"  style="margin-left:1400px">write reviews...</a>

    <div class="container mt-2" style="background-color:white">
        {%for review in reviews %}
            <div class="col-md-6" style="margin-left:25%">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                    <h6 class="mb-0">{{review.user}}</h6>
                    <strong class="d-inline-block mb-2 text-primary">ratings</strong>
                    <h3 class="mb-0">{{review.rating}}</h3>
                    <div class="mb-1 text-muted">{{review.date}}</div>
                    <p class="card-text mb-auto">{{review.review_msg}}</p>
                    <img src='/media/{{review.image}}' width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
                    </div>
                </div>
            </div>
        {% endfor %}
            
      
    </div>

{% endblock body %}
