{% extends 'base.html' %}

{% block title %}Shop{% endblock title %}Home

    
{% block body %}
 <style>
    #card-style:link , #card-style:visited { 
      border: 1px solid #white;
      border-radius: 10px;
      color:#1365a1;
      text-decoration: none;
    }
    
    #card-style:hover,#card-style:active {
      border: 1px solid #1365a1;
      border-radius: 10px;
      color: white;
      background-color:#595c4f;
      text-decoration: none;
    }
  </style> 
 <div class="container" style="margin-top:5px;">
    <div class="row">
      {%for product in products %}
        <div class="card align-iteams-center" id="card-style" style="width: 25rem; margin-right:2px;margin-bottom:10px">
          <img src='/media/{{product.image}}' height=300 width=300 class="card-img-top" alt="...">
          <div class="card-body">
            {% comment %} <h5 class="card-title">{{product.product_name}}</h5>
            <p class="card-text">{{product.desc}}</p>
            <h5 class="card-text">₹{{product.price}}</h5> {% endcomment %}

            <form actio="/shop/" method="POST">
              {%csrf_token%}
              <input hidden type="text" name="product" value="{{product.id}}">
              {% comment %} <input type="submit" class="btn btn-primary cart" value="Add to Cart">
              <a href="#" class="btn btn-primary" >Buy Now</a> {% endcomment %}
             {% comment %} <span id="divpr{{product.id}}" class="divpr">
             <button id="pr{{product.id}}" class="btn btn-primary cart" >Add to Cart</button>
             </span> {% endcomment %}
            </form>
            
           
          </div>
        </div>
         {% endfor %}
        
     </div>
  </div>
{% endblock body %}


{% comment %} jquerry code {% endcomment %}
  {% comment %} {%block js%}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
     console.log(request.session.get('username'));
      if(localStorage.getItem('cart') == null){
        var cart = {};
      }
      else{
        cart = JSON.parse(localStorage.getItem('cart'));
        document.getElementById('cart').innerHTML=Object.keys(cart).length;
        updateCart(cart);
      }
      // quantity increase or not!
      $('.cart').click(function(){  
        var idstr = this.id.toString(); 
        if(cart[idstr] != undefined){
          cart[idstr] = cart[idstr]+1;
        }
        else{
          cart[idstr] = 1;
        }
        updateCart(cart);
        
      });
      //change Add to Cart -> + or - button

      function updateCart(cart){
        for(var item in cart){
          document.getElementById('div' +item).innerHTML="<button id='minus"+item+"'class='btn btn-primary minus'>-</button> <span id='val"+item+"''>"+cart[item]+"</span><button id='plus"+item+"'class='btn btn-primary plus'>+</button";
        }

      
        localStorage.setItem('cart',JSON.stringify('cart'));
        document.getElementById('cart').innerHTML=Object.keys(cart).length;
        console.log(cart);
      
      }

      // if plus or minus button is clicked, change the cart as well as the display value

      $('.divpr').on("click","button.minus",function(){
        a=this.id.slice(7,);
        cart['pr'+a]= cart['pr'+a]-1;
        cart['pr'+a]=Math.max(0, cart['pr'+a]);
        document.getElementById('valpr'+a).innerHTML =cart['pr'+a];
        updateCart(cart);
        
      });

      $('.divpr').on("click","button.plus",function(){
        a=this.id.slice(6,);
        cart['pr'+a]= cart['pr'+a]+1;
        document.getElementById('valpr'+a).innerHTML =cart['pr'+a];
        updateCart(cart);
      });
    </script> {% endcomment %}

  {% comment %} {%endblock%} {% endcomment %}

